{% extends '@layout/default.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block stylesheets %}
    <style>
        form {
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <form action="/search">
        <input name="name" placeholder="Pokemon Name" value="{% if search_name_value is defined %}{{ search_name_value }}{% endif %}">
    </form>
    <h1>{{ h1 }}</h1>
    <ul>
        {% for pokemon in pokemonModels %}
            <li>
                <a href="/pokemon/{{ pokemon.id }}">{{ pokemon.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
