{% extends '@layout/default.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <h1>Pokedex</h1>
    <ul>
        {% for pokemon in pokemonModels %}
            <li>
                <a href="/pokemon/{{ pokemon.id }}">{{ pokemon.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
