{% extends '@layout/default.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block stylesheets %}
    <style>
        #hello-word {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="hello-word">
        Hello World!
    </div>
{% endblock %}
